body {
    background-color:darkgreen;
    text-align: center;
}
img {
    width:500px;
    
}
.Second, .Third, .Fourth, .Fifth, .Sixth, .Seventh, .Eigth, .Ninth{
    display:none;
}

.First{
    
}

.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9 {
    display:none;
}